:root {
    --sign-up-form: #b8f2e6;
    --sign-up-button: #7de2d1;
    --sign-up-hover-og: #17bebb;
}

.error-text-registration {
    text-align: center;
    font-weight: bold;
}

#registration-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    margin: 3rem auto;
    padding: 1.5rem;
    background-color: var(--sign-up-form);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

.register-text {
    font-size: 40px;
}

.first-name {
    font-weight: bolder;
}

.register-first-name-input {
    margin-top: .5rem;
    border-radius: .4rem;
    border: none;
}

.last-name {
    font-weight: bolder;
}

.register-last-name-input {
    margin-top: .5rem;
    border-radius: .4rem;
    border: none;
}

.register-email {
    font-weight: bolder;
}

.register-email-input {
    margin-top: .5rem;
    border-radius: .4rem;
    border: none;
}

.register-password {
    font-weight: bolder;
}

.register-password-input {
    margin-top: .5rem;
    border-radius: .4rem;
    border: none;
}

.sign-up-submit {
    background-color: var(--sign-up-button);
    font-weight: bolder;
}

.sign-up-submit:hover {
    background-color: var(--sign-up-hover-og);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none; 
    border: none; 
}

.have-an-account {
    text-align: center;
}