:root {
  --submit-background: #14fff7;
  --submit-text: black;
  --submit-hover: #ffafcc;
    /* --submit-hover: #80ed99; */
    /* --submit-hover-og: #F0C879ff; */
  --footer-bg: #40916c;
}

html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.search-input {
  width: 500px;
  margin-left: 10rem;
  height: 30px;
  font-size: 14px;
}

main {
  flex-grow: 1;
  background: url('../src/assets/BBBackground.png') center/cover no-repeat;
}

footer {
  height: 80px;
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.25rem;
}

.search {
  display: inline-block;
  width: 80%;
  margin-left: 5rem;
  text-align: center;
}

.search-bar {
 width: 70%;
 margin-right: 1rem;
 border-radius: .3rem;
}

.submit-button {
  background-color: var(--submit-background);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: var(--submit-text);
  font-weight: bolder;
}

.submit-button:hover {
  background-color: var(--submit-hover);
  /* box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5); */
  box-shadow: 0 0 10px 5px rgba(255, 0, 242, 0.5);
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

#login-form,
#registration-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: grey;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.page-title {
  text-align: center;
}