.relative-container {
    position: relative;
    margin-top: 16px;
    margin-left: 6px;
}

.profile-card {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    width: 256px;
    z-index: 1;
    /* Ensure profile card is above other components */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.profile-image {
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: medium;
    color: #333;
}

.profile-description {
    font-size: 14px;
    color: #888;
}

.small-image {
    max-width: 50px;
    max-height: 50px;
}

.play-later {
    margin-top: 23rem;
    padding: 16px;
    width: 256px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-item {
    color: black;
    font-size: 2rem;
}

.gameList {
    color: black;
}