:root {
    --top-five-list-bg: #1b4332;
    --top-five-list-text: #9ef01a;
}

.welcome {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* .top-five-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.top-five-list h1 {
    background-color: var(--top-five-list-bg);
    color: var(--top-five-list-text);
    border-radius: 1rem;
    padding: 1rem;
} */

.play-later-card {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.play-later-title {
    background-color: var(--top-five-list-bg);
}

@media (max-width: 768px) {
    .profile-image {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* .top-five-list {
        padding-top: 2rem;
    } */

    .play-later-card {
        margin-bottom: 1rem;
    }
}
