h5 {
    background-color: #C8A954ff;
    margin-top: 1rem;
    padding: .5rem;
}

.game-header {
    font-size: 1rem;
    color: black;
    background: #F8B44Eff;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: solid 6px #D4655A;
}

.card-header {
    background-color: #C8A954ff;
    border-bottom: solid black;
    font-size: 2rem;
    
}

/* .single-game-card-title {
    background-color: #C8A954ff;
    padding: .5rem;
} */

.game-description {
    font-size: 1rem;
    color: black;
    background: #F8B44Eff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    border: solid 6px #D4655A;

}

.save-to-collection-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.save-to-collection-button button {
    background-color: #D4655Aff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.save-to-collection-button button:hover {
    box-shadow: 0 0 10px #D4655A;
}