footer {
    height: 80px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(69,69,73,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
    border: solid;
}

.github-icon {
    color: white;
}

@media screen and (max-width: 320px) {
    footer {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 280px) {
    footer {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}