:root {
    --logout-text: black;
    --logout-background: #14fff7;
    --header-hover: #ffafcc;
    /* --header-hover: #80ed99; */
    /* --header-hover-og: #F0C879ff; */
}

.logo {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    margin: auto;
    width: 10dvh;
}

.search-buttons {
    display: inline;
}

.header-buttons {
    display: inline;
}

.profile {
    background-color: var(--logout-background);
    color: var(--logout-text);
    padding: .65rem;
    border-radius: .2rem;
    margin: 1rem;
}

.profile:hover {
    background-color: var(--header-hover);
    /* box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5); */
    box-shadow: 0 0 10px 5px rgba(255, 0, 242, 0.5);
    /* box-shadow: 0 0 10px 5px rgba(69, 255, 159, 0.5); */
    text-decoration: none;
    color: var(--logout-text);
}

.log-out {
    color: var(--logout-text);
    background-color: var(--logout-background);
    font-weight: bolder;
}

.log-out:hover {
    background-color: var(--header-hover);
    /* box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5); */
    box-shadow: 0 0 10px 5px rgba(255, 0, 242, 0.5);
}

.header-login-buttons {
    display: inline;
}

.log-in {
    display: inline;
    color: var(--logout-text);
    background-color: var(--logout-background);
    font-weight: bolder;
    padding: .65rem;
    border-radius: .2rem;
    margin: 1rem;
}

.log-in:hover {
    background-color: var(--header-hover);
    /* box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5); */
    box-shadow: 0 0 10px 5px rgba(255, 0, 242, 0.5);
    text-decoration: none;
    color: var(--logout-text);
}

.sign-up {
    color: var(--logout-text);
    background-color: var(--logout-background);
    font-weight: bolder;
    padding: .65rem;
    border-radius: .2rem;
    margin: 1rem;
}

.sign-up:hover {
    background-color: var(--header-hover);
    /* box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5); */
    box-shadow: 0 0 10px 5px rgba(255, 0, 242, 0.5);
    text-decoration: none;
    color: var(--logout-text);
}