:root {
    --header-bg-color: rgb(46, 42, 42);
    --logout-text: black;
    --logout-background: #F8B44Eff;
    --header-hover-og: #F0C879ff;
}

.header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(69,69,73,1) 50%, rgba(0,0,0,1) 100%);
}

.logo {
    display: inline-block;
    align-items: center;
    padding: 2rem;
    margin: auto;
    width: 10dvh;
}

.search-buttons {
    display: inline;
}

.profile {
    background-color: var(--logout-background);
    border-radius: .2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.profile:hover {
    background-color: var(--header-hover-og);
    box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5);
    text-decoration: none;  
}

.log-out {
    background-color: var(--logout-background);
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.log-out:hover {
    background-color: var(--header-hover-og);
    box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5);
}

.log-in {
    display: inline;
    color: var(--logout-text);
    background-color: var(--logout-background);
    font-weight: bolder;
    border-radius: .2rem;
    margin: 1rem;
}

.log-in:hover {
    background-color: var(--header-hover-og);
    box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5);
    text-decoration: none;
    color: var(--logout-text);
}

.sign-up {
    color: var(--logout-text);
    background-color: var(--logout-background);
    font-weight: bolder;
    border-radius: .2rem;
    margin: 1rem;
}

.sign-up:hover {
    background-color: var(--header-hover-og);
    box-shadow: 0 0 10px 5px rgba(240, 200, 121, 0.5);
    text-decoration: none;
    color: var(--logout-text);
}

@media screen and (max-width: 912px) {
    .logo {
        display: block;
    }
    
    .header-buttons {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 540px) {
    .logo {
      display: flex;
      justify-content: center;
    }
  
    .header-buttons {
      display: flex;
      justify-content: center;
    }
  }

@media screen and (max-width: 414px) {
    .logo {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        display: flex;
        justify-content: center;
    }
}