.results-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 1rem;
}

.results-card:hover {
    transform: scale(1.05);
}

.results-card img {
    max-width: 100%;
    border-radius: 14% 14% 0% 0% / 14% 14% 0% 0%
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.results-card .card-title {
    font-size: 1.2rem;
    background-color: #5c415d;
    color: #fff;
    padding: 1rem;
    border-radius: 0% 0% 14% 14% / 87% 0% 14% 13%;
    text-align: center;
}