:root {
    --cloudinary-button: #74D45Dff;
    --cloudinary-button-text: black;
}

.upload-button {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.cloudinary-button {
    background-color: var(--cloudinary-button);
    color: var(--cloudinary-button-text);
    font-weight: bolder;
    font-size: 18px;
}