:root {
    --cloudinary-button: #74D45Dff;
    --cloudinary-button-text: black;
}

.upload-button {
    text-align: center;
}

.cloudinary-button {
    background-color: var(--cloudinary-button);
    color: var(--cloudinary-button-text);
    font-weight: bolder;
}